/*Общие стили*/
header ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	background-color: rgba(255, 182, 193,0.9);
	height: 4em;
	border-radius: 20px;
}

header a{
	text-decoration: none;
	color: black;
	font-size: 1.1em;
	font-weight: 600;
}

footer a{
	text-decoration: none;
	color: black;
	font-size: 1.1em;
	font-weight: 600;

}

.flex-2{
	width: 16.66%
}

.content-center{
	padding-top: 1.4em;
	text-align: center;
}
body{
	background-image:url(images/tyr.jpg) ;
	background-color: #c7b39b;
	background-attachment: fixed;
	background-size: 100% auto;
	
}



#author{
	text-decoration: none;
	color: red;

}

#art{
	width: 500px;
	height:auto;
}

#paper{
	font-size:15px;
	color: #8B0000;
	font-weight:bold;
}
#read{
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px 40px;
  border-width: 2px 0;
  border-style: solid none;
  border-radius: 6px;
  background: orange;
  margin-top: 2em;
  }

 footer ol{
 	list-style-type: none;
 	display: flex;
 	flex-direction: row;
 	background-color: pink;
 	height: 7em;
 }

 .flexFooter{
 	width: 20%;
 }

.headline{
	font-style: oblique;
	color: #FF4500;
	font-size: 1.5em;	

}
.text{
	margin-left: 5em;
	background-color:rgba(0, 255, 255, 0.5);
	padding: 2em;
	border-radius:30px;

}

.submenu{
	display: flex;
	flex-direction: column;
	height: 7em;
	text-align: left;
	justify-content: space-between;
	padding-left: 7.5em;
	opacity:0;
	visibility: hidden;
}

li:hover .submenu {
	opacity: 1;
	visibility: visible;
}
.submenu2{
	padding-top: 2em;
}

.modal {
    position: absolute;
    left: 50%;
    background: #b19891;
    padding: 30px;

    transform: translate(-50%, -50%);
    transition: all 1s;
}

.modal:target {
    top: 50%;
}

.modal:not(:target) {
    top: -100%;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}